.services{
    background: url(../../images/services/r-architecture-khpWE85ge38-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 0, 0, 0.788);
    background-blend-mode:overlay;
}